@import './_color.scss';
@import './image-gallery.scss';

$ig-small-screen: 768px !default;
$ig-xsmall-screen: 480px !default;

#App {
  font-family: 'Montserrat', sans-serif;
}

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
  background-color: $tetra-dark;
  color: white;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
