@import "./_color.scss";

* {
  outline: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
  box-sizing: border-box;
  /* Our sidebar item styling */
  text-decoration: none;
  font-size: 1.4em;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  color: #242d3d;
  transition: color 0.2s;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}

/* Change color on hover */
.bm-item:hover {
  color: #373a47;
  box-shadow: inset 0 -1px #373a47;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 36px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $tetra-light;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #242d3d;
}

/* General sidebar styles */
.bm-menu {
  background: #e8e8e3;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  overflow: hidden;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.side-title {
  box-shadow: none;
  font-size: 2em;
  margin-bottom: 24px;
  margin-top: 48px;
}

.side-title:hover {
  color: #242d3d;
  box-shadow: none;
}

.logo {
  display: inline;
  margin: 0px 12px 12px 24px;
  text-align: center;
  box-shadow: none;
}

.logo:hover {
  box-shadow: none;
}
